h1, h3 {
	color: red;
	text-align: center;
	}
h2{
	color:green;
}
table{
	border: 4px solid purple;
	border-collapse:collapse;
}
th{
	border: 1px solid blue;
	background-color: lightblue;
	
}
td{
	border:1px dotted blue;
}
th,td {
	padding: 4px;
}

div {
	background-color: lightgreen;
	width: 30%;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}

